body {
	background-color: gray;
	color: whitesmoke;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	font-family: "Courier New", Courier, monospace;
}

.intro-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	/* border: 10px solid black; */
	width: 100%;
}
.intro-container {
	padding: 2px 16px;
	text-align: center;
}
.name {
	/* width: 50%; */
	border: 1px solid black;
}

p {
	border: 1px solid black;
	text-indent: 1.5em;
}
br {
}
h2 {
	border: 1px solid black;
}
footer {
	border: 1px solid black;
}
ul {
	border: 1px solid black;
}
li {
	border: 1px solid black;
}
span {
	border: 1px solid black;
}
a {
	border: 1px solid black;
}
